.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: ;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rtl #yt_tool_bottom .module .btn-special {
  padding: 0 5px;
}
.rtl #yt_spotlight1 #top2 .module {
  float: left;
}
.rtl #yt_breadcrumb div.module ul.breadcrumb li:first-child .divider {
  margin: 0 0 0 5px;
}
.rtl .module.yt-bread .breadcrumb {
  padding: 8px 15px;
}
.rtl .module.yt-bread .breadcrumb > li + li .divider:after {
  content: "\f100";
}
.rtl [class^="icon-"],
.rtl [class*=" icon-"] {
  margin: 0 0 0 5px;
}
.rtl .icon-caret-right:before {
  content: "\f0d9";
}
.rtl .form-horizontal .control-label {
  text-align: right;
}
.rtl #system-message .error > ul {
  margin-right: 0;
  background-position: 99% center;
}
.rtl .label {
  margin-right: 0px;
  margin-left: 15px;
}
.rtl .blog .icons {
  margin: 0;
}
.rtl .blog .items-row.row .item .article-text .article-aside .article-info dd {
  margin-right: 0;
  margin-left: 20px;
  float: right;
}
.rtl .blog .items-leading.row.cols-1 .item .item-image,
.rtl .blog .items-row.row.cols-1 .item .item-image {
  margin: 0 0 0 20px;
  float: right;
}
.rtl .blog .items-leading.row.cols-1 .item .article-text,
.rtl .blog .items-row.row.cols-1 .item .article-text {
  float: left;
}
.rtl .blog .items-leading .item .article-text .item-headinfo  dl.article-info,
.rtl .blog .items-row .item .article-text .item-headinfo  dl.article-info {
  white-space: nowrap;
}
.rtl .blog .items-leading .item .item-image,
.rtl .blog .items-row .item .item-image {
  margin: 0 0 10px 20px;
}
.rtl .blog .items-leading .item .article-text .hits,
.rtl .blog .items-row .item .article-text .hits {
  background-position: right center;
  padding-left: 0px;
  padding-right: 27px;
}
.rtl .blog .items-leading .item .article-text .article-aside .article-info,
.rtl .blog .items-row .item .article-text .article-aside .article-info {
  white-space: nowrap;
}
.rtl .blog .items-leading .item .article-text .article-aside .article-info .create,
.rtl .blog .items-row .item .article-text .article-aside .article-info .create {
  padding-left: 0px;
  padding-right: 0;
  background-position: right center;
  margin-right: 0px;
  margin-left: 10px;
}
.rtl .blog .items-leading .item .article-text .article-aside .article-info .createdby,
.rtl .blog .items-row .item .article-text .article-aside .article-info .createdby {
  padding-left: 0px;
  padding-right: 0;
  background-position: right center;
  margin-right: 0px;
  margin-left: 10px;
}
.rtl .blog .items-leading .item .article-text .article-aside .article-info .hits,
.rtl .blog .items-row .item .article-text .article-aside .article-info .hits {
  padding-left: 0px;
  padding-right: 0;
  background-position: right center;
}
.rtl .blog .items-leading .item .article-text .item-tags .tags a,
.rtl .blog .items-row .item .article-text .item-tags .tags a {
  float: right;
  margin: 0 0px 1px 1px;
}
.rtl .blog.tag-category ul.blank.items-row .item {
  padding-right: 0;
  margin-bottom: 20px;
}
.rtl .blog.tag-category ul.blank.items-row .item .item-image {
  margin-left: 20px !important;
  margin-right: 0 !important;
  float: right;
}
.rtl .blog-featured .items-leading .item .article-text .item-headinfo  dl.article-info,
.rtl .blog-featured .items-row  .item .article-text .item-headinfo  dl.article-info {
  white-space: nowrap;
}
.rtl .blog-featured .items-leading .item .item-image,
.rtl .blog-featured .items-row  .item .item-image {
  margin: 0 0 10px 20px;
}
.rtl .blog-featured .items-leading .item .article-text .hits,
.rtl .blog-featured .items-row  .item .article-text .hits {
  background-position: right center;
  padding-left: 0px;
  padding-right: 27px;
}
.rtl .blog-featured .items-leading .item .article-text .article-aside .article-info,
.rtl .blog-featured .items-row  .item .article-text .article-aside .article-info {
  white-space: nowrap;
}
.rtl .blog-featured .items-leading .item .article-text .article-aside .article-info .create,
.rtl .blog-featured .items-row  .item .article-text .article-aside .article-info .create {
  padding-left: 0px;
  padding-right: 0;
  background-position: right center;
  margin-right: 0px;
  margin-left: 10px;
}
.rtl .blog-featured .items-leading .item .article-text .article-aside .article-info .createdby,
.rtl .blog-featured .items-row  .item .article-text .article-aside .article-info .createdby {
  padding-left: 0px;
  padding-right: 0;
  background-position: right center;
  margin-right: 0px;
  margin-left: 10px;
}
.rtl .blog-featured .items-leading .item .article-text .article-aside .article-info .hits,
.rtl .blog-featured .items-row  .item .article-text .article-aside .article-info .hits {
  padding-left: 0px;
  padding-right: 0;
  background-position: right center;
}
.rtl .blog-featured .items-leading .item .article-text .item-tags .tags a,
.rtl .blog-featured .items-row  .item .article-text .item-tags .tags a {
  float: right;
  margin: 0 0px 1px 1px;
}
.rtl .blog-featured .items-leading .item .item-image .feature-info,
.rtl .blog-featured .items-row  .item .item-image .feature-info {
  text-align: right;
}
.rtl .blog-featured .items-leading .item .item-image .feature-info .create,
.rtl .blog-featured .items-row  .item .item-image .feature-info .create {
  margin-right: 0px;
  margin-left: 20px;
  padding-left: 0px;
  padding-right: 23px;
  background-position: right center;
}
.rtl .blog-featured .items-leading .item .item-image .feature-info .createdby,
.rtl .blog-featured .items-row  .item .item-image .feature-info .createdby {
  margin: 0px;
  padding-left: 0px;
  padding-right: 25px;
  background-position: right center;
}
.rtl .blog-featured .items-leading .item .article-text a.more,
.rtl .blog-featured .items-row  .item .article-text a.more {
  float: right;
  padding: 10px 0px 10px 20px;
}
.rtl .blog-featured .items-leading .item .article-text a.more:after,
.rtl .blog-featured .items-row  .item .article-text a.more:after {
  left: auto;
  right: 0px;
}
.rtl .blog-featured .items-leading .item .article-text .hits,
.rtl .blog-featured .items-row  .item .article-text .hits {
  float: none;
}
.rtl .blog-featured .items-leading .item:hover .article-text a.more,
.rtl .blog-featured .items-row  .item:hover .article-text a.more {
  padding: 10px 20px;
}
.rtl .blog-featured .items-leading .item .item-image a,
.rtl .blog-featured .items-row  .item .item-image a {
  float: left;
  width: 100%;
  text-align: center;
}
.rtl .blog-featured .items-leading .item .item-image a img,
.rtl .blog-featured .items-row  .item .item-image a img {
  width: auto;
}
.rtl .item-page .article-aside {
  overflow: hidden;
}
.rtl .item-page .article-aside ul.actions {
  float: left;
}
.rtl .item-page .article-aside dl.article-info {
  float: right;
}
.rtl .item-page .article-aside dl.article-info dd {
  margin-right: 0px;
  margin-left: 20px;
  font-size: 100%;
  white-space: nowrap;
}
.rtl .item-page .article-aside dl.article-info dd .create {
  padding-left: 0px;
  padding-right: 23px;
  background-position: right center;
}
.rtl .item-page .article-aside dl.article-info dd .hits {
  padding-left: 0px;
  padding-right: 27px;
  background-position: right center;
}
.rtl .item-page .tags a {
  float: right;
  margin: 0px 0px 1px 1px;
}
.rtl .item-page .img-fulltext.pull-left {
  margin: 0 0 1em 1em;
}
.rtl .item-page .img-fulltext.pull-right {
  margin: 0 1em 1em 0;
}
.rtl .item-page .image {
  float: right;
  margin: 5px 0px 20px 30px;
}
.rtl .item-page .dt-list {
  float: right;
}
.rtl .item-page .dt-list ul li {
  padding: 10px 50px 10px 10px;
}
.rtl .item-page .dt-list ul li strong {
  left: auto;
  right: 10px;
}
.rtl .item-page .notice {
  background-position: 98% center;
  padding: 30px 60px 30px 30px;
}
.rtl .item-page .article-index {
  margin: 0px 20px 0px 0px;
}
.rtl .item-page ul.related-items li .img-fulltext {
  float: right;
  margin: 0 0 0 20px;
}
.rtl .item-page ul.related-items li .related-item-date {
  float: right;
  margin-right: 0px;
  margin-left: 20px;
}
.rtl .item-page ul.related-items li .related-item-hits {
  float: right;
}
.rtl table.category thead tr th {
  text-align: right;
}
.rtl div.categories-list ul {
  padding: 0 15px 0 0;
}
.rtl div.categories-list ul ul > li:after,
.rtl div.categories-list ul ul > li:before {
  left: auto;
  right: -1px;
}
.rtl dl.tabs dt {
  float: right;
}
.rtl .search #searchForm .phrases-box input,
.rtl .search #searchForm .only input {
  float: right;
  margin: 4px -20px 0 5px;
}
.rtl #advanced-search {
  text-align: right;
}
.rtl.contentpane #mailto-window .mailto-close {
  left: 40px;
  right: auto;
}
.rtl.contentpane .row-fluid [class*="span"]:first-child {
  margin-right: 0;
}
.rtl.contentpane .row-fluid [class*="span"] {
  margin: 0;
  margin-right: 2.12766%;
  float: right;
}
.rtl .pager li > a,
.rtl .pager li > span {
  white-space: nowrap;
}
.rtl div.contact .contact-image {
  float: left;
}
.rtl.view-login .wrap-login .form-horizontal .control-group {
  float: right;
}
.rtl.view-login .wrap-login .other-link ul.yt-list li {
  float: right;
  margin: 0 0 0 25px;
}
.rtl .registration .form-horizontal .control-label {
  text-align: right;
  float: right;
}
.rtl div.archive .filter-search #limit {
  margin-right: 0px;
  margin-left: 10px;
}
.rtl .tag-category ul.items-row .item .item-image {
  margin: 0px 0px 0px 20px;
}
.rtl .tag-category ul.items-row .item a.readmore {
  float: right;
}
.rtl .tag-category ul.items-row .item a.readmore:after {
  left: auto;
  right: 0px;
}
.rtl .tag-category ul.items-row .item .article-text .item-headinfo .article-info dd .create {
  background-position: right center;
  padding-left: 0px;
  padding-right: 25px;
}
.rtl .pagination li {
  float: right;
}
.rtl .pagination li .fa-long-arrow-right:before {
  content: "\f177";
}
.rtl .yt-slider-carousel .carousel-indicators {
  left: 0;
  right: auto;
}
.rtl .module.menu-information ul.menu li a:before {
  display: none;
}
.rtl .module.menu-information ul.menu li a:after {
  content: "\f0d9";
  font-family: fontawesome;
  margin-left: 8px;
}
.rtl .module.custom-bottom2 ul li {
  padding-left: 0;
  padding-right: 50px;
}
.rtl .module.custom-bottom2 ul li:before {
  left: auto;
  right: 0;
}
.rtl .module.custom-bottom2 .link {
  text-align: left;
}
.rtl .module.design-shipping .item .icon {
  float: right;
  margin-right: 0;
  margin-left: 20px;
}
.rtl .module.login-style #myLogin .modal-dialog .modal-header h3.title {
  padding: 12px 60px 12px 20px;
  background-position: 95% center;
}
.rtl .module.login-style #myLogin .modal-dialog .modal-header h3.title:after {
  right: auto;
  left: -20px;
  transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
.rtl .module.login-style #myLogin .modal-dialog #login-form #modlgn-username,
.rtl .module.login-style #myLogin .modal-dialog #login-form #modlgn-passwd {
  background-position: 100% 0;
}
.rtl .module.login-style #myLogin .modal-dialog #login-form #form-login-submit .button {
  padding: 10px 50px 10px 30px;
  background-position: 90% center;
}
.rtl .module.custom-bottom1 {
  background-position: 100% 30px;
}
.rtl .mod-languages ul.dropdown-menu li a {
  padding: 3px 15px 3px 25px;
}
.rtl .mod-currency form.demo .vm-chzn .bootstrap-select.inputbox .dropdown-menu.open ul li a {
  padding: 3px 12px 3px 24px;
}
.rtl .payment {
  text-align: left;
}
.rtl #mod-finder-searchform .button {
  right: auto;
}
.rtl #mod-finder-searchform input.inputbox {
  padding: 4px 10px 4px 30px;
}
.rtl ul,
.rtl ol {
  padding: 0;
}
.rtl .round-online {
  float: right;
  margin: 0 0 0 15px;
}
.rtl .round-online i {
  margin: 5px auto 0;
}
.rtl .module.my-account h3.modtitle:after {
  margin-left: 0;
  margin-right: 5px;
}
.rtl .module.my-account .modcontent {
  left: auto;
  right: 0;
}
.rtl .mod-languages ul.dropdown-menu li a img {
  margin-right: 0;
  margin-left: 10px;
  float: right;
}
.rtl .sj-minicart-pro {
  float: left;
  text-align: right;
}
.rtl .sj-minicart-pro .mc-wrap .mc-header .mc-yourcart:before {
  float: right;
}
.rtl .sj-minicart-pro .mc-wrap .mc-content {
  right: auto;
  left: 0;
}
.rtl .sj-minicart-pro .mc-wrap .mc-content .mc-content-inner .mc-list .mc-product-wrap .mc-product .mc-product-inner .mc-image {
  float: right;
}
.rtl .sj-minicart-pro .mc-wrap .mc-content .mc-content-inner .mc-list .mc-product-wrap .mc-product .mc-product-inner .mc-attribute {
  float: right;
}
.rtl .sj-minicart-pro .mc-wrap .mc-content .mc-content-inner .mc-list .mc-product-wrap .mc-product .mc-product-inner .mc-attribute .mc-remove {
  right: auto;
  left: 20px;
}
.rtl .sj-minicart-pro .mc-wrap .mc-content .mc-content-inner .mc-list .mc-product-wrap .mc-product .mc-product-inner .mc-attribute .attr-quantity {
  right: auto;
  left: 20px;
}
.rtl .sj-minicart-pro .mc-wrap .mc-content .mc-content-inner .mc-footer .price-total {
  text-align: right;
}
.rtl .sj-minicart-pro .mc-wrap .mc-content .mc-content-inner .mc-footer .button-wrapper .mc-gotocart {
  float: right;
  margin-right: 15px;
}
.rtl .sj-minicart-pro .mc-wrap .mc-content .mc-content-inner .mc-footer .button-wrapper .mc-checkout-footer {
  float: right;
}
.rtl #search .search .button {
  right: auto;
  left: 0;
}
.rtl #search .search input[type="text"] {
  padding: 4px 30px 4px 50px;
}
.rtl #search .search:before {
  left: auto;
  right: 15px;
}
.rtl .module.slider-content2 .sj-extraslider .extraslider-control {
  right: auto;
  left: 0;
}
.rtl .module.slider-content2 .sj-extraslider .extraslider-inner .item .line .main-content .item-wrap .item-wrap-inner .item-info .item-title:before {
  left: auto;
  right: 0;
}
.rtl .mod-currency form.demo .vm-chzn .bootstrap-select.inputbox .dropdown-toggle:after {
  margin-left: 0;
  margin-right: 5px;
}
.rtl .owl-carousel .owl-stage-outer {
  direction: ltr;
}
.rtl .yt-content-slider .owl-prev {
  right: auto;
}
.rtl .yt-content-slider.arrow-default .owl-nav .owl-next {
  text-indent: 0;
}
.rtl .module.popular-tags .modcontent .tagspopular.popular-tags ul li {
  float: right;
}
.rtl .module.filter .modcontent .sj-vm-filter .ft-wrap form.ft-form .ft-group-categories .ft-content li .ft-opt-inner,
.rtl .module.filter .modcontent .sj-vm-filter .ft-wrap form.ft-form .ft-group-manufacturers .ft-content li .ft-opt-inner {
  float: right;
}
.rtl .module.filter .modcontent .sj-vm-filter .ft-wrap form.ft-form .ft-group-categories .ft-content li .ft-opt-inner input,
.rtl .module.filter .modcontent .sj-vm-filter .ft-wrap form.ft-form .ft-group-manufacturers .ft-content li .ft-opt-inner input {
  float: right;
}
.rtl .module.filter .modcontent .sj-vm-filter .ft-wrap form.ft-form .ft-group-categories .ft-content li .ft-opt-inner span,
.rtl .module.filter .modcontent .sj-vm-filter .ft-wrap form.ft-form .ft-group-manufacturers .ft-content li .ft-opt-inner span {
  float: right;
}
.rtl .sj_vm_deals_wrap {
  direction: ltr;
}
.rtl .item-inner-title-module-title {
  float: right;
}
.rtl .module.today-deals .sj_vm_deals_wrap .owl-theme .owl-controls .owl-prev {
  left: 0;
  right: auto;
}
.rtl .module.today-deals .sj_vm_deals_wrap .owl-theme .owl-controls .owl-next {
  left: 30px;
  right: auto;
}
.rtl .module.today-deals .sj_vm_deals_wrap .owl-carousel .item .sj_relative .product-info .item-addtocart {
  right: auto;
  left: 15px;
}
.rtl .module.today-deals .sj_vm_deals_wrap .owl-carousel .item .sj_relative .product-info .block-ratting-title {
  float: right;
}
.rtl .module.today-deals .sj_vm_deals_wrap .owl-carousel .item .sj_relative .product-info .block-ratting-title .item-title {
  text-align: right;
}
.rtl .module.today-deals .sj_vm_deals_wrap .owl-carousel .item .sj_relative .product-info .block-ratting-title .item-rating {
  text-align: right;
}
.rtl .module.today-deals .sj_vm_deals_wrap .owl-carousel .item .sj_relative .product-info .item-prices .item-prices-override {
  float: left;
}
.rtl .module.today-deals .sj_vm_deals_wrap .owl-carousel .item .sj_relative .product-info .item-prices .item-prices-final {
  float: left;
}
.rtl.home-layout2 .module.listing-tabs-vm.layout2 .sj-listing-tabs .ltabs-wrap .ltabs-items-container .ltabs-loadmore {
  text-align: left;
}
.rtl .module.listing-tabs-vm .sj-listing-tabs .ltabs-wrap .ltabs-items-container .ltabs-items-inner .owl2-controls .owl2-prev {
  left: 0;
  right: auto;
}
.rtl .module.listing-tabs-vm .sj-listing-tabs .ltabs-wrap .ltabs-items-container .ltabs-items-inner .owl2-controls .owl2-next {
  left: 30px;
  right: auto;
}
.rtl .module.listing-tabs-vm .sj-listing-tabs .owl2-carousel .owl2-stage-outer {
  direction: ltr;
}
.rtl .module.listing-tabs-vm .sj-listing-tabs .ltabs-wrap .ltabs-tabs-container .ltabs-tabs li {
  float: right;
}
.rtl .module.listing-tabs-vm .sj-listing-tabs .ltabs-wrap .ltabs-tabs-container .ltabs-items .ltabs-item .item-inner .content-product .item-addtocart {
  left: 15px;
  right: auto;
}
.rtl .module.listing-tabs-vm .sj-listing-tabs .ltabs-wrap .ltabs-items-container .ltabs-items .ltabs-item .item-inner .content-product .item-addtocart {
  left: 15px;
  right: auto;
}
.rtl .module.listing-tabs-vm .sj-listing-tabs .ltabs-wrap .ltabs-items-container .ltabs-items .ltabs-item .item-inner .content-product .product-info {
  float: right;
}
.rtl .module.listing-tabs-vm .sj-listing-tabs .ltabs-wrap .ltabs-items-container .ltabs-items .ltabs-item .item-inner .content-product .product-info .item-title {
  text-align: right;
}
.rtl .module.listing-tabs-vm .sj-listing-tabs .ltabs-wrap .ltabs-items-container .ltabs-items .ltabs-item .item-inner .content-product .product-info .container-rating {
  text-align: right;
}
.rtl .module.listing-tabs-vm .sj-listing-tabs .ltabs-wrap .ltabs-items-container .ltabs-items .ltabs-item .item-inner .content-product .item-prices .item-prices-override,
.rtl .module.listing-tabs-vm .sj-listing-tabs .ltabs-wrap .ltabs-items-container .ltabs-items .ltabs-item .item-inner .content-product .item-prices .item-prices-final {
  float: left;
}
.rtl div.sj-slickslider .slickslider-items .item-content {
  right: auto;
}
.rtl div.sj-slickslider .nav-pagination.conner-tl .icon-row {
  text-align: center !important;
}
.rtl .module.extra-top-sellers .sj-extraslider .extraslider-control {
  right: auto;
  left: 0;
}
.rtl .module.extra-top-sellers .sj-extraslider .extraslider-inner .item .line .item-wrap-inner .item-image {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
.rtl .vmproduct.best-sale-random .width100.center .spacer .images-left {
  float: right;
}
.rtl .vmproduct.best-sale-random .width100.center .spacer .title-right {
  text-align: right;
}
.rtl .vmproduct.best-sale-random .width100.center .spacer .label-warning {
  left: auto;
  right: 20px;
}
.rtl .cart-view #checkoutForm .vm-fieldset-pricelist .cart-summary tbody td {
  text-align: right;
}
.rtl .cart-view span.cart-images img {
  float: right;
}
.rtl .cart-view #checkoutForm .vm-fieldset-customer-note div.customer-note span {
  float: right;
}
.rtl .cart-view #checkoutForm .checkout-button-top {
  float: right;
}
.rtl .module.testimonials-shortcode .modcontent .yt-content-slider.arrow-top-right .owl-nav {
  text-align: left;
}
.rtl .module.testimonials-shortcode .modcontent .yt-content-slider.arrow-top-right .owl-nav .owl-prev {
  right: auto;
  left: 0;
  float: left;
}
.rtl .module.testimonials-shortcode .modcontent .yt-content-slider.arrow-top-right .owl-nav .owl-next {
  right: auto;
  left: 30px;
}
.rtl div.contact-ajax .ctajax-element .el-info-contact .info-address i,
.rtl div.contact-ajax .ctajax-element .el-info-contact .info-mobie i,
.rtl div.contact-ajax .ctajax-element .el-info-contact .info-mail i {
  float: right;
  margin: 0 0 0 30px;
}
.rtl div.contact-ajax .ctajax-element .el-inner .el-heading span:before {
  left: 100%;
  margin: 0 0 0 0.5em;
  right: auto;
}
.rtl div.contact-ajax .ctajax-element .el-inner .el-heading span:after {
  left: auto;
  margin: 0 0.5em 0 0;
}
.rtl div.sj-accordion .acd-items .acd-item .acd-header {
  background-position: 94% center;
  padding: 12px 50px 12px 10px;
}
.rtl div.sj-accordion .acd-items .acd-item .acd-content-wrap .acd-content-wrap-inner .acd-content ul.acd-info li {
  float: right;
  margin-right: 0px;
  margin-left: 20px;
}
.rtl div.sj-accordion .acd-items .acd-item .acd-content-wrap .acd-content-wrap-inner .acd-content ul.acd-info li span.acd-date {
  padding-left: 0px;
  padding-right: 23px;
  background-position: right center;
}
.rtl div.sj-accordion .acd-items .acd-item .acd-content-wrap .acd-content-wrap-inner .acd-content ul.acd-info li span.acd-hits {
  padding-left: 0px;
  padding-right: 27px;
  background-position: right center;
}
.rtl .module.slider-content .sj-extraslider .extraslider-control {
  right: auto;
  left: 0;
}
.rtl .module.sjflatmenu .modcontent .accordion-menu {
  direction: ltr;
}
.rtl #myLogin #login-form .userdata input[type="checkbox"] {
  float: right;
  margin-left: 10px;
}
.rtl .module._menu.side-menu .modcontent ul.menu > li.parent:hover ul {
  right: -100%;
  left: inherit;
}
.rtl .module._menu.side-menu .modcontent ul.menu > li.parent:hover ul li:hover ul {
  right: -100%;
  left: inherit;
}
.rtl .module._menu.tree-menu .modcontent ul.menu > li.parent ul {
  padding-right: 20px;
  padding-left: 0;
}
.rtl .module._menu.tree-menu .modcontent ul.menu > li.parent:hover ul {
  padding-right: 20px;
}
.rtl .module._menu.side-menu .modcontent ul.menu > li.parent > a:after,
.rtl .module._menu.side-menu .modcontent ul.menu > li.parent span:after {
  content: "\f0d9";
  float: left;
}
.rtl .module._menu.side-menu .modcontent ul.menu > li.parent:hover ul li.parent > a:after,
.rtl .module._menu.side-menu .modcontent ul.menu > li.parent ul li.parent > span:after {
  content: "\f0d9";
  float: left;
  right: inherit;
}
.rtl .sp-vmmenu > ul > li > ul {
  left: auto;
  right: 268px;
}
.rtl .sp-vmmenu > ul > li > ul > li {
  float: right;
}
.rtl .module.vertical-menu .sp-vmmenu > ul > li.parent > a:after {
  float: left;
  transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
}
.rtl #moonavigator li.level1,
.rtl #meganavigator li.level1 {
  float: right;
}
.rtl #meganavigator .mega-module-content .sj-vm-ajax-tabs.left-position .tabs-wrap {
  float: right;
}
.rtl #meganavigator .mega-module-content .sj-vm-ajax-tabs.left-position .tabs-wrap ul.tabs li .tab {
  padding: 5px 20px 5px 0;
}
.rtl #meganavigator .mega-module-content .sj-vm-ajax-tabs.left-position .tabs-content .tabs-content-inner .item-wrap .product-info .block-ratting-title {
  float: right;
}
.rtl #meganavigator .mega1 .mega-content .mega-col.more {
  float: right;
  border-right: none;
  border-left: 1px solid #ddd;
}
.rtl #meganavigator .mega1 .mega-content .mega-col.more.last {
  padding-left: 0;
  border: none;
}
.rtl .nav-collapse ul.resmenu li.haveChild .fa-angle-down {
  left: 5px;
  right: auto;
}
.rtl .sj-flat-menu.accordion-menu >li .fm-item .magamenu-title {
  float: left;
}
.rtl .sj-flat-menu.accordion-menu li .fm-item .fm-button {
  float: left;
  left: 3px;
  right: auto;
}
.rtl .sj-flat-menu.accordion-menu li .fm-item .fm-button img {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rtl .sj-flat-menu.accordion-menu li .fm-item .fm-link {
  float: right;
  margin-right: 0;
  padding-left: 0;
  padding-right: 5px;
  text-align: right;
}
.rtl .sj-flat-menu.accordion-menu li .fm-container.direction-left {
  left: auto !important;
  right: 100%;
}
.rtl .sj-flat-menu.accordion-menu a img {
  padding: 0 0 0 5px;
}
.rtl #xmap ul li a:before {
  content: "\f104";
  font-family: "FontAwesome";
  float: right;
  margin-left: 8px;
  margin-right: 0;
}
.rtl #xmap ul ul.level_1 {
  margin-left: 0;
  margin-right: 20px;
}
.rtl .blog div.pagination {
  margin-bottom: 0;
}
.rtl .productdetails-view.productdetails .vm-product-container .vm-product-details-container .inforating .ratingbox {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
.rtl .productdetails-view.productdetails .vm-product-container .vm-product-details-container .availability {
  text-align: right;
}
.rtl .productdetails-view.productdetails .vm-product-container .vm-product-details-container .spacer-buy-area .addtocart-area .addtocart-bar {
  text-align: right;
}
.rtl .productdetails-view.productdetails .vm-product-container .vm-product-details-container .spacer-buy-area .addtocart-area .addtocart-bar .wrap-qty {
  float: right;
}
.rtl .productdetails-view.productdetails .vm-product-container .vm-product-details-container .spacer-buy-area .addtocart-area .addtocart-bar .addtocart-button {
  margin: 0 10px;
}
.rtl .browse-view .vm-grid .product .spacer .product-info .block-ratting-title {
  float: right;
}
.rtl .browse-view .vm-grid .product .spacer .product-info .vm3pr-2 .PricesalesPrice {
  float: left;
}
.rtl .browse-view .vm-pagination ul.pagination,
.rtl .featured-view .vm-pagination ul.pagination,
.rtl .latest-view .vm-pagination ul.pagination,
.rtl .topten-view .vm-pagination ul.pagination {
  float: left;
}
.rtl .browse-view .vm-grid .product .spacer .product-info,
.rtl .featured-view .vm-grid .product .spacer .product-info,
.rtl .latest-view .vm-grid .product .spacer .product-info,
.rtl .topten-view .vm-grid .product .spacer .product-info {
  text-align: right;
}
.rtl .browse-view .vm-grid .product .spacer .product-info .vm3pr-0,
.rtl .featured-view .vm-grid .product .spacer .product-info .vm3pr-0,
.rtl .latest-view .vm-grid .product .spacer .product-info .vm3pr-0,
.rtl .topten-view .vm-grid .product .spacer .product-info .vm3pr-0 {
  right: auto;
  left: 15px;
}
.rtl .browse-view .vm-list .vm-col .spacer .vm-product-media-container,
.rtl .featured-view .vm-list .vm-col .spacer .vm-product-media-container,
.rtl .latest-view .vm-list .vm-col .spacer .vm-product-media-container,
.rtl .topten-view .vm-list .vm-col .spacer .vm-product-media-container {
  float: right;
  margin: 0 0 0 20px;
  border-right: none;
  border-left: 1px solid #ddd;
}
.rtl .browse-view .vm-list .vm-col .spacer .product-info,
.rtl .featured-view .vm-list .vm-col .spacer .product-info,
.rtl .latest-view .vm-list .vm-col .spacer .product-info,
.rtl .topten-view .vm-list .vm-col .spacer .product-info {
  text-align: right;
}
